<p>
  <strong>Date:</strong>
  <%= @summary.date %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @summary.merchant %>
</p>

<p>
  <strong>Spending:</strong>
  <%= @summary.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @summary.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @summary.text %>
</p>
